@import url("https://fonts.googleapis.com/css2?family=Karla&family=Lato&family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}


body{
    background: #3399ff;
  }
  
  
  .circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }

  .todos-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: rgba(61, 98, 218, 0.3);
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }

  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }

  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .todos-form {
    margin-bottom: 32px;
  }

  .todos-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #fff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
  }

  .todos-input::placeholder {
    color: #e1e1e1;
  }

  .todos-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(53, 58, 220) 0%,
      rgb(54, 20, 223) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }

  .todos-input.edit {
    border: 2px solid #192ae6;
  }

  .todos-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgb(255, 143, 57) 100%
    );
    padding: 16px 22px;
  }

  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(255, 118, 20, 1) 0%,
      rgb(218, 67, 7) 100%
    );
    cursor: pointer;
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }

  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(108, 16, 165) 100%
    );
  }

  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(240, 80, 22) 0%,
      rgb(205, 235, 11) 100%
    );
  }

  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: rgb(247, 94, 94);
  }
  
  .edit-icon {
    color: #fff;
  }